InvetaireServices/db/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="stock">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="album">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id" type="xs:unsignedShort" />
                            <xs:element name="titre" type="xs:string" />
                            <xs:element name="artiste" type="xs:string" />
                            <xs:element name="annee" type="xs:unsignedShort" />
                            <xs:element name="qte" type="xs:unsignedByte" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>